mule-transport-amqp/src/it/resources/dynamic-routing-key-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
             http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
       http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
       ">

    <amqp:connector name="amqpConnector" 
        virtualHost="${amqpVirtualHost}"
        username="${amqpUserName}"
        password="${amqpPassword}"
        host="${amqpHost}"
        port="${amqpPort}" />


    <flow name="senderFlow">
        <amqp:outbound-endpoint queueName="testQueue" routingKey="#[testRoutingKey]"
                                exchangeName="testExchange"
                                exchangeType="topic"
                                connector-ref="amqpConnector" exchange-pattern="request-response"/>
    </flow>

    <flow name="receiverFlow">
        <amqp:inbound-endpoint exchangeName="testExchange"
                               exchangeType="topic"
                               queueDurable="true"
                               routingKey="testRoutingKeyValue,testRoutingKeyValue2"
                               queueName="testQueue2"  connector-ref="amqpConnector"
                               />
        <set-payload value="testedDynamicRoutingKey"/>
        <vm:outbound-endpoint path="result"/>
    </flow>
</mule>
